
#detailsDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
}

#personsDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    margin-top: 20px;
}